<header id="header" class="header">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <a href="{{ site.baseurl }}/index.html">

                    <!-- <span aria-hidden="true" class="icon_documents_alt icon"></span> -->
                    <span class="text-highlight"><img src="{{ site.baseurl }}/assets/images/logo-white-small.png">IMBURSE</span><span class="text-bold">DOCS</span>
                </a>
            </h1>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ site.baseurl }}/index.html">Home</a></li>
            <li class="breadcrumb-item active"><a href="{{ site.baseurl }}/documentation.html">Documentation</a></li>
            <li class="breadcrumb-item active">{{ page.section_name }}</li>
        </ol>
    </div>
</header>