<div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
    <div id="doc-nav" class="doc-nav">
        <nav id="doc-menu" class="nav doc-menu flex-column sticky">

            {% case include.toc %}

                {% when 'imburse-platform' %}

                    <a class="nav-link scrollto" href="#what-is-the-imburse-platform">What is the Imburse Platform?</a>
                    <a class="nav-link scrollto" href="what-problems-does-the-imburse-platform-solve">What problems does the Imburse Platform solve?</a>

                {% when 'core-concepts' %}

                    <a class="nav-link scrollto" href="#overview">Overview</a>
                    <a class="nav-link scrollto" href="#accounts">Accounts</a>
                    <a class="nav-link scrollto" href="#tenants">Tenants</a>
                    <a class="nav-link scrollto" href="#security-keys">Security Keys</a>
                    <a class="nav-link scrollto" href="#providers-and-products">Providers and Products</a>
                    <a class="nav-link scrollto" href="#provider-configurations">Provider Configuration</a>
                    <a class="nav-link scrollto" href="#rewards-catalog">Rewards Catalog</a>
                    <a class="nav-link scrollto" href="#collection-schemes">Collection Schemes</a>
                    <a class="nav-link scrollto" href="#payout-schemes">Payout Schemes</a>
                    <a class="nav-link scrollto" href="#webhooks">Webhooks</a>

                {% when 'getting-started' %}

                    <a class="nav-link scrollto" href="#account-management">Account Management</a>
                    <a class="nav-link scrollto" href="#tenant-management">Tenant Management</a>
                    <a class="nav-link scrollto" href="#provider-configuration-management">Provider Configuration Management</a>
                    <a class="nav-link scrollto" href="#collection-scheme-management">Collection Scheme Management</a>
                    <a class="nav-link scrollto" href="#payout-scheme-management">Payout Scheme Management</a>

                {% when 'how-collections-and-payouts-work' %}

                    <a class="nav-link scrollto" href="#overview">Overview</a>

                {% when 'white-label-sdk-integration' %}

                    <a class="nav-link scrollto" href="#overview">Overview</a>

                {% when 'client-portal' %}

                    <a class="nav-link scrollto" href="#overview">Overview</a>

                {% when 'tutorial-creating-a-tenant' %}

                    <a class="nav-link scrollto" href="#creating-a-tenant">Creating a Tenant</a>
                    <a class="nav-link scrollto" href="#prerequisites">Prerequisites</a>
                    <a class="nav-link scrollto" href="#steps">Steps</a>
                    <nav class="nav doc-sub-menu flex-column sticky">
                        <a class="nav-link scrollto" href="#1---aquire-a-management-bearer-token">1 - Aquire a Management Bearer Token</a>
                        <a class="nav-link scrollto" href="#2---create-a-new-tenant">2 - Create a new Tenant</a>
                    </nav>
                    <a class="nav-link scrollto" href="#whats-next">What's Next?</a>

                {% when 'tutorial-creating-a-tenant-security-key' %}

                    <a class="nav-link scrollto" href="#creating-a-tenant-security-key">Creating a Tenant Security Key</a>
                    <a class="nav-link scrollto" href="#prerequisites">Prerequisites</a>
                    <a class="nav-link scrollto" href="#steps">Steps</a>
                    <nav class="nav doc-sub-menu flex-column sticky">
                        <a class="nav-link scrollto" href="#1---aquire-a-management-bearer-token">1 - Aquire a Management Bearer Token</a>
                        <a class="nav-link scrollto" href="#2---create-a-new-tenant-security-key">2 - Create a new Tenant Security Key</a>
                    </nav>
                    <a class="nav-link scrollto" href="#whats-next">What's Next?</a>


            {% endcase %}

        </nav>
    </div>
</div>