* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

html {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

body {
  font-family: "proximanova-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background: #fafafa;
  -webkit-font-smoothing: subpixel-antialiased;
}

i {
  font-family: "Pictos Custom";
  font-size: 1.5em;
  font-style: normal;
  margin-right: 3px;
  position: relative;
  top: 1px;
  font-weight: normal;
  cursor: pointer;
  vertical-align: middle;
}

i.right-side {
  margin-right: 0px;
  margin-left: 3px;
}

.clearfix {
  clear: both;
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .container {
    width: 94%;
  }
}

.close {
  filter: alpha(opacity=0.2);
  -moz-opacity: 0.2;
  opacity: 0.2;
  float: right;
  font-size: 20px;
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
}

.close:hover {
  filter: alpha(opacity=0.4);
  -moz-opacity: 0.4;
  opacity: 0.4;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.full-width {
  width: 100% !important;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.fade {
  -webkit-transition: opacity 0.15s ease;
  -moz-transition: opacity 0.15s ease;
  -ms-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  opacity: 0;
}

.fade.in {
  opacity: 1;
}

.collapse {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
  position: relative;
  overflow: hidden;
  height: 0;
}

.collapse.in {
  height: auto;
}

.hidden {
  display: none;
  visibility: hidden;
}

.caret {
  filter: alpha(opacity=0.3);
  -moz-opacity: 0.3;
  opacity: 0.3;
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  content: "\2193";
}

.caret.link {
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  opacity: 1;
  border-top-color: #008fd5;
}

.color-green, .status-none {
  color: #8fd500;
}

.color-red, .status-critical {
  color: #d73636;
}

.color-orange, .status-major {
  color: #f58d16;
}

.color-yellow, .status-minor {
  color: #f6d11c;
}

.color-blue {
  color: #008fd5;
}

.color-purple {
  color: #8f00d5;
}

.color-light-grey {
  color: #aaa;
}

.well {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  min-height: 20px;
  padding: 2rem;
  background-color: whiteSmoke;
  border: 1px solid #E3E3E3;
}

.row {
  margin-left: -4%;
}

.row:last-of-type {
  margin-bottom: 0px;
}

.row > .span12 {
  width: 96.0%;
}

.row > .span11 {
  width: 87.667%;
}

.row > .span10 {
  width: 79.333%;
}

.row > .span9 {
  width: 71.0%;
}

.row > .span8 {
  width: 62.667%;
}

.row > .span7 {
  width: 54.333%;
}

.row > .span6 {
  width: 46.0%;
}

.row > .span5 {
  width: 37.667%;
}

.row > .span4 {
  width: 29.333%;
}

.row > .span3 {
  width: 21.0%;
}

.row > .span2 {
  width: 12.667%;
}

.row > .span1 {
  width: 4.333%;
}

.row > [class*="span"] {
  float: left;
  margin-left: 4%;
}

.row > [class*="span"].offset11 {
  margin-left: 95.667% !important;
}

.row > [class*="span"].offset10 {
  margin-left: 87.333% !important;
}

.row > [class*="span"].offset9 {
  margin-left: 79.0% !important;
}

.row > [class*="span"].offset8 {
  margin-left: 70.667% !important;
}

.row > [class*="span"].offset7 {
  margin-left: 62.333% !important;
}

.row > [class*="span"].offset6 {
  margin-left: 54.0% !important;
}

.row > [class*="span"].offset5 {
  margin-left: 45.667% !important;
}

.row > [class*="span"].offset4 {
  margin-left: 37.333% !important;
}

.row > [class*="span"].offset3 {
  margin-left: 29.0% !important;
}

.row > [class*="span"].offset2 {
  margin-left: 20.667% !important;
}

.row > [class*="span"].offset1 {
  margin-left: 12.333% !important;
}

@media screen and (max-width: 768px) {
  .row.collapsible > .span6 {
    width: 96.0%;
    margin-bottom: 1.25rem;
  }

  .row.collapsible > .span6:last-of-type {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .row.collapsible > .span4 {
    width: 96.0%;
    margin-bottom: 1.25rem;
  }

  .row.collapsible > .span4:last-of-type {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .row.collapsible > .span3 {
    width: 46.0%;
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .row.collapsible > .span3 {
    width: 96.0%;
    margin-bottom: 1.25rem;
  }

  .row.collapsible > .span3:last-of-type {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .row.collapsible > .span2 {
    width: 21.0%;
  }
}

@media screen and (max-width: 560px) {
  .row.collapsible > .span2 {
    width: 29.333%;
  }
}

@media screen and (max-width: 320px) {
  .row.collapsible > .span2 {
    width: 46.0%;
  }
}

@media screen and (max-width: 1330px) {
  .row.collapsible > .span1 {
    width: 12.667%;
  }
}

@media screen and (max-width: 1024px) {
  .row.collapsible > .span1 {
    width: 21.0%;
  }
}

@media screen and (max-width: 560px) {
  .row.collapsible > .span1 {
    width: 29.333%;
  }
}

@media screen and (max-width: 320px) {
  .row.collapsible > .span1 {
    width: 46.0%;
  }
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

a {
  color: #008fd5;
  text-decoration: none;
}

a:hover {
  color: #0085c6;
  text-decoration: none;
}

a:focus {
  outline: none;
}

a.grey {
  color: #888888;
}

a.light-grey {
  color: #aaaaaa;
}

p {
  margin-bottom: .65rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proximanova-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #888888;
  font-family: "proximanova-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 52.8px;
  font-size: 3rem;
  line-height: 3.3rem;
  margin-bottom: .8rem;
}

h1 small {
  font-size: 32px;
  line-height: 41.6px;
  font-size: 2rem;
  line-height: 2.6rem;
  position: relative;
  top: -0.4rem;
}

h2 {
  font-size: 41.6px;
  line-height: 49.088px;
  font-size: 2.6rem;
  line-height: 3.068rem;
  margin-bottom: .7rem;
}

h2 small {
  font-size: 28px;
  line-height: 37.8px;
  font-size: 1.75rem;
  line-height: 2.363rem;
  position: relative;
  top: -0.35rem;
}

h3 {
  font-size: 35.2px;
  line-height: 44.352px;
  font-size: 2.2rem;
  line-height: 2.772rem;
  margin-bottom: .6rem;
}

h3 small {
  font-size: 24px;
  line-height: 33.6px;
  font-size: 1.5rem;
  line-height: 2.1rem;
  position: relative;
  top: -0.3rem;
}

h4 {
  font-size: 28.8px;
  line-height: 38.592px;
  font-size: 1.8rem;
  line-height: 2.412rem;
  margin-bottom: .5rem;
}

h4 small {
  font-size: 20px;
  line-height: 29px;
  font-size: 1.25rem;
  line-height: 1.813rem;
  position: relative;
  top: -0.2rem;
}

h5 {
  font-size: 22.4px;
  line-height: 31.808px;
  font-size: 1.4rem;
  line-height: 1.988rem;
  margin-bottom: .4rem;
}

h5 small {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: .3rem;
}

h6 small {
  font-size: 12.8px;
  line-height: 19.712px;
  font-size: 0.8rem;
  line-height: 1.232rem;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul.styled, ol.styled {
  margin-bottom: 10px;
  margin-left: 15px;
}

ul.styled {
  list-style: disc;
}

ol.styled {
  list-style: decimal;
}

dl {
  margin-bottom: 18px;
}

dt, dd {
  line-height: 18px;
}

dt {
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

dd {
  margin-left: 9px;
}

hr {
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

strong {
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

em {
  font-style: italic;
}

abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}

blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}

blockquote small {
  display: block;
  line-height: 18px;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 15px;
  border-left: 0;
  border-right: 5px solid #eeeeee;
}

blockquote.pull-right p, blockquote.pull-right small {
  text-align: right;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 18px;
  line-height: 18px;
  font-style: normal;
}

small {
  font-size: 14px;
  line-height: 21.35px;
  font-size: 0.875rem;
  line-height: 1.334rem;
  color: #aaaaaa;
}

cite {
  font-style: normal;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

code, pre {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  font-size: 12px;
  line-height: 18.6px;
  font-size: 0.75rem;
  line-height: 1.163rem;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: 3px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  background-color: #f5f5f5;
  border: 1px solid #E1E1E1;
  padding: .5rem;
  white-space: pre-wrap;
}

pre ol {
  list-style-type: decimal;
}

pre ol li {
  margin: .2rem 0 .2rem 1.8rem;
  padding-left: 1rem;
}

input::-webkit-input-placeholder {
  color: #bbb;
}

input:-moz-placeholder {
  color: #bbb;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

label, input, textarea, button, select {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  vertical-align: middle;
}

input, textarea, select {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  display: inline-block;
  border: 1px solid #bbb;
  padding: 8px;
  height: 40px;
}

input:not([type="submit"]), textarea, select {
  width: 250px;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) inset;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) inset;
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) inset;
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) inset;
}

input {
  word-wrap: normal;
  word-break: normal;
}

textarea {
  resize: none;
  height: 6rem;
}

textarea.size-small {
  height: 4rem;
}

textarea.size-large {
  height: 8rem;
}

select {
  padding: 6px;
}

label {
  display: block;
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label.required {
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label.required:after {
  content: "*";
}

input[type="checkbox"], input[type="radio"] {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  width: auto;
  height: auto;
  padding: 0;
  position: relative;
  top: 1px;
  line-height: normal;
  border: 0;
  cursor: pointer;
}

input[type="hidden"] {
  display: none;
}

input[disabled], select[disabled], textarea[disabled], select[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}

input[disabled]:hover, select[disabled]:hover, textarea[disabled]:hover, select[readonly]:hover {
  border-color: #ddd;
}

input:hover, textarea:hover {
  border: 1px solid #b0b0b0;
}

input:focus, textarea:focus {
  border: 1px solid #a0a0a0;
  outline: none;
}

.control-group.invalid > label, .control-group.invalid .help-block, .control-group.invalid .help-inline {
  color: #d73636;
}

.control-group.invalid input, .control-group.invalid .select, .control-group.invalid textarea {
  color: #d73636;
  border-color: #d73636;
}

.form-inline input,
.form-horizontal input,
.form-inline textarea,
.form-horizontal textarea,
.form-inline .help-inline,
.form-horizontal .help-inline {
  display: inline-block;
  margin-bottom: 0;
}

input[type="text"].inline {
  position: relative;
  top: -2px;
  margin: 0 .25rem;
}

.controls.prepend > .ilb, .controls.append > .ilb {
  display: inline-block;
  position: relative;
}

.controls.prepend label, .controls.append label {
  background-color: #f4f4f4;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #f7f7f7, #f2f2f2);
  background-image: -moz-linear-gradient(top, #f7f7f7, #f2f2f2);
  background-image: -ms-linear-gradient(top, #f7f7f7, #f2f2f2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #f2f2f2);
  background-image: -o-linear-gradient(top, #f7f7f7, #f2f2f2);
  box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  -webkit-box-shadow: 0 1px 0 white inset;
  -o-box-shadow: 0 1px 0 white inset;
  -ms-box-shadow: 0 1px 0 white inset;
  position: absolute;
  width: 40px;
  top: 1px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #666666;
  text-shadow: 0 1px 0 white;
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.controls.prepend label.prepender, .controls.append label.prepender {
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  left: 1px;
  border-right: 1px solid #ccc;
}

.controls.prepend label.appender, .controls.append label.appender {
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  right: 1px;
  border-left: 1px solid #ccc;
}

.controls.prepend input.prepend, .controls.append input.prepend {
  padding-left: 3rem;
}

.controls.prepend input.append, .controls.append input.append {
  padding-right: 3rem;
}

.controls.prepend.full-width .ilb, .controls.prepend.full-width input, .controls.append.full-width .ilb, .controls.append.full-width input {
  width: 100%;
}

.control-group {
  margin-bottom: 2rem;
  clear: both;
}

.control-group:last-of-type {
  margin-bottom: 0px;
}

.control-group.has-mb {
  margin-bottom: 2rem;
}

.control-group > label {
  margin-bottom: .25rem;
}

.control-group[class*="span"] {
  clear: none;
}

.form-horizontal .control-group > label {
  float: left;
  width: 8.75rem;
  padding-top: .5rem;
  text-align: right;
  margin-bottom: 0px;
}

.form-horizontal .control-group > label.no-pt {
  padding-top: 0px;
}

.form-horizontal .control-group > label.two-lines {
  padding-top: 0;
  position: relative;
  top: -3px;
}

@media screen and (max-width: 768px) {
  .form-horizontal .control-group > label {
    float: none;
    width: auto;
    padding-top: 0px;
    text-align: left;
  }
}

.form-actions {
  margin-top: 2rem;
}

.form-horizontal .controls {
  margin-left: 10rem;
}

.form-horizontal .controls.no_left_margin {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .form-horizontal .controls {
    margin-left: 0;
  }
}

.form-horizontal .form-actions {
  padding-left: 10rem;
}

.form-horizontal .form-actions a {
  margin-right: .6rem;
}

.form-bordered .control-group {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 0px;
  padding: 2rem 0;
}

.form-bordered .control-group.unpad-top {
  padding-top: 0px;
}

.form-bordered .control-group.last-unborder {
  border-bottom: none;
  padding-bottom: 0px;
}

.form-bordered .control-group.first-border {
  padding-top: 2rem;
  border-top: 1px solid #e0e0e0;
}

.radio, .checkbox {
  font-family: "proximanova-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 1.5rem;
  font-weight: normal;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -1.4rem;
}

.radio + .radio, .checkbox + .checkbox {
  padding-top: .25rem;
}

.radio.inline, .checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
}

.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
  margin-left: 1.5rem;
  padding-top: 0rem;
}

.layout-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 1.5rem 0;
  margin-bottom: 3%;
  overflow: hidden;
}

.layout-header .logo-container .logo img {
  max-width: 100px;
}

.layout-header .logo-container .description {
  font-size: 16px;
  line-height: 21.35px;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.334rem;
  color: #13366e;
  margin-top: .25rem;
}

.layout-header nav a {
  font-family: "proximanova-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 5%;
  color: #aaa;
  letter-spacing: 1px;
  font-size: .875rem;
  text-transform: uppercase;
}

.layout-header nav a.active {
  color: #333333;
}

.layout-header nav a:last-of-type {
  margin-right: 0;
}

.layout-header .logo-container {
  text-align: left;
  float: left;
  width: 300px;
}

.layout-header nav {
  float: right;
  text-align: right;
  width: 50%;
  margin-top: 0px;
  line-height: 75px;
}

.layout-footer {
  background-color: #222;
  padding: 5% 0;
  margin-top: 5%;
  color: #888;
}

.layout-footer .section {
  font-size: 14px;
  line-height: 21.35px;
  font-size: 0.875rem;
  line-height: 1.334rem;
  margin-top: 5%;
}

.layout-footer .section:first-of-type {
  margin-top: 0;
}

.layout-footer .section h6 {
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21.35px;
  font-size: 0.875rem;
  line-height: 1.334rem;
  margin-bottom: 0px;
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.layout-footer .section a {
  color: #888;
}

.layout-footer .span4 {
  width: 96.0%;
}

@media screen and (min-width: 700px) {
  .layout-footer {
    padding: 3% 0;
    margin-top: 3%;
  }
}

@media screen and (min-width: 875px) {
  .layout-footer .section {
    margin-top: 0px;
  }

  .layout-footer .section h6 {
    margin-bottom: .25rem;
  }

  .layout-footer .span4 {
    width: 29.333%;
  }
}

.layout-side-nav {
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  box-shadow: -4px 0 6px -4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: -4px 0 6px -4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: -4px 0 6px -4px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: -4px 0 6px -4px rgba(0, 0, 0, 0.1) inset;
  -ms-box-shadow: -4px 0 6px -4px rgba(0, 0, 0, 0.1) inset;
  background-color: #f6f6f6;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #f8f8f8, #f4f4f4);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f4f4f4);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f4f4f4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f4f4f4);
  background-image: -o-linear-gradient(top, #f8f8f8, #f4f4f4);
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  width: 14rem;
  border-right: 1px solid #dedede;
  float: left;
  text-shadow: 0 1px 0 white;
}

.layout-side-nav ul {
  margin-bottom: .5rem;
}

.layout-side-nav .section-header {
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #aaaaaa;
  text-transform: uppercase;
  padding: 1.5rem 1.5rem 0rem 1.3rem;
}

.layout-side-nav a {
  font-size: 14px;
  line-height: 21.35px;
  font-size: 0.875rem;
  line-height: 1.334rem;
  display: block;
  padding: .5rem 1.5rem .5rem 2.0rem;
  color: #888888;
}

.layout-side-nav a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #646670;
}

.layout-side-nav a.active {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #008ed5;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #0099e4, #0085c6);
  background-image: -moz-linear-gradient(top, #0099e4, #0085c6);
  background-image: -ms-linear-gradient(top, #0099e4, #0085c6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0099e4), color-stop(100%, #0085c6));
  background-image: -webkit-linear-gradient(top, #0099e4, #0085c6);
  background-image: -o-linear-gradient(top, #0099e4, #0085c6);
  font-family: "proximanova-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: .25rem 0;
  padding-top: .35rem;
  padding-bottom: .35rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 1px rgba(0, 0, 0, 0.05);
}

.layout-side-nav a i {
  margin-right: .375rem;
}

body {
  background-color: #f9f9f9;
}

.container {
  width: 1200px;
  max-width: none;
}

.layout-content .content-area {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 2px;
}

.layout-header {
  margin-bottom: 3.5rem;
}

.sidenav {
  text-align: right;
  position: relative;
}

.sidenav h6 {
  padding: 0 10px;
  font-size: 18px;
}

.sidenav a {
  display: block;
  color: #aaa;
  padding: 2px 10px 0px;
}

.sidenav a.active {
  color: #333;
  background-color: #ededed;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0px;
}

p, ul, ul.styled, pre, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

p:last-child, ul:last-child, pre:last-child {
  margin-bottom: 0px;
}

hr {
  width: -moz-calc(100% + 5rem);
  width: -ms-calc(100% + 5rem);
  width: -webkit-calc(100% + 5rem);
  width: calc(100% + 5rem);
  height: 1px;
  background-color: #e0e0e0;
  margin: 2.5rem 0 2.5rem -2.5rem;
}