<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bt-styles.css" />
  </head>

  <body class="developers-site">
    <div class="root ">
      <div class="flex app">
          <header class="header">
            <a class="logo" href="/">
              <h1 class="logo--fallback">Braintree_developers</h1>
              <div class="logo--mark"></div>
            </a>
            <div class="header__nav">
              <ul class="nav__list" id="main-nav-links">
                    <li class="nav__item">
                      <a class="nav__link " href="/start" data-autotrack="dd__navbar--get-started" data-track-event-properties="project=journey&docs,context=navbar,component=link,action=click,container=header,descriptor=get started,origin=b_docs">Get Started</a>
                    </li>
                    <li class="nav__item">
                      <a class="nav__link is-active" href="/guides" data-autotrack="dd__navbar--guides" data-track-event-properties="project=journey&docs,context=navbar,component=link,action=click,container=header,descriptor=guides,origin=b_docs">Guides</a>
                    </li>
                    <li class="nav__item">
                      <a class="nav__link " href="/reference" data-autotrack="dd__navbar--reference" data-track-event-properties="project=journey&docs,context=navbar,component=link,action=click,container=header,descriptor=reference,origin=b_docs">Reference</a>
                    </li>
              </ul>
            </div>
          </header>

          <button class="button button--small menu__button js-off-canvas">
            <span class="menu__button-text">Menu</span>
          </button>
          
          <div class="flex-body">
            <div class="flex-sidebar documentation-sidebar">
              <div class="sidebar  ">
                <div class="sidebar__inner">
                  <div class="sidebar__title">
                    Developer Docs
                  </div>
                  <div class="menu-group">
                    <span class="menu-group__title" data-title="">Basics</span>
                    <ul class="menu">
                          {% include toc.html html=content sanitize=true class="inline_toc" id="my_toc" h_min=1 h_max=3 %}
                          <!-- <li class="menu__item js-menu-item ">
                            <span class="menu__link has-menu" tabindex="0">
                              Client Authorization
                            </span>
                            <ul class="menu-secondary">
                                  <li class="menu-secondary__item">
                                    <a href="/guides/authorization/overview" class="menu-secondary__link ">Overview</a>
                                  </li>
                                  <li class="menu-secondary__item">
                                    <a href="/guides/authorization/tokenization-key/javascript/v2" class="menu-secondary__link ">Tokenization Key</a>
                                  </li>
                                  <li class="menu-secondary__item">
                                    <a href="/guides/authorization/client-token" class="menu-secondary__link ">Client Token</a>
                                  </li>
                            </ul>
                          </li>
                            <li class="menu__item">
                              <a href="/guides/payment-method-nonces" class="menu__link no-group">Payment Method Nonces</a>
                            </li>
                            <li class="menu__item">
                              <a href="/guides/transactions/dotnet" class="menu__link no-group">Transactions</a>
                            </li>
                            <li class="menu__item">
                              <a href="/guides/customers/dotnet" class="menu__link no-group">Customers</a>
                            </li>
                            <li class="menu__item">
                              <a href="/guides/payment-methods/dotnet" class="menu__link no-group">Payment Methods</a>
                            </li> -->
                    </ul> 
                  </div>
                </div>
              </div>
            </div>
          
            <div class="flex-content documentation-content__wrapper">
              <div class="page-header page-header--guides">
                <div class="page-header__inner">
                  <h1 class="page-header__title-group">
                    <span class="page-header__section">PayPal<span class="page-header--title-divider">/</span></span><span class="page-header__title">Overview</span>
                  </h1>              
                </div>
              </div>
              <hr class="page-rule" />
              <article class="flex--constrained main-content js-outlet js-guides-view">
                {{ content }}
              </article>  
              <footer class="footer wrap nocontent">
                <ul class="footer-link-list" data-track-event-properties="project=journey&docs,context=footer,component=link,action=click,descriptor=footer">
                  <li><a class="footer__link" href="https://braintreepayments.com" data-track-event-properties="project=journey&docs,context=footer,component=link,action=click,descriptor=braintreepayments.com,intent=view marketing site,origin=developer docs&support articles,href=https://braintreepayments.com/">&larr; Braintreepayments.com</a></li>
                  <li class="text-light">|</li>
                  <li><a class="footer__link" href="https://developers.braintreepayments.com" target="_blank" data-track-event-properties="project=journey&docs,context=footer,component=link,action=click,descriptor=developer docs,intent=view developer docs,origin=developer docs&support articles,href=https://developers.braintreepayments.com/">Developer Docs</a></li>
                  <li><a class="footer__link" href="https://articles.braintreepayments.com" target="_blank" data-track-event-properties="project=journey&docs,context=footer,component=link,action=click,descriptor=support articles,intent=view support articles,origin=developer docs&support articles,href=https://articles.braintreepayments.com/">Support Articles</a></li>
                  <li><a class="footer__link" href="https://status.braintreepayments.com" target="_blank" data-track-event-properties="project=journey&docs,context=footer,component=link,action=click,descriptor=status,intent=view status site,origin=developer docs&support articles,href=https://status.braintreepayments.com/">Status</a></li>
                </ul>
                <div class="legal">
                &copy; 2008-2018 Braintree, a service of PayPal, Inc. All rights reserved. <a href="https://www.braintreepayments.com/legal/braintree-privacy-policy">Privacy Policy</a> | <a href="https://braintreepayments.com/legal">Legal</a>
                </div>
              </footer>
            </div>
          </div>   
        </div>
      </div>
    
      <script>
        window.emulateArticlesSubdomain = false;
        window.env = "production";
        window.isArticles = false;
        window.isStagingOrProduction = true;
      </script>
        
      <input type="hidden" name="_csrf" value="">
      <script src="/js/app.built.js?ba7da1724d43c7b32a46b5d6f9332391b2464793"></script>

  </body>
</html>
